<% provide(:title, @page_title) %>
<div id="add" class="col-md-4 col-md-offset-4 center .col-xs-4">
	<p>
		Payments from
            <span class="from-to"><%=(@start ? @start : '')%></span>
            to <span class="from-to"><%=(@end ? @end : '')%></span>
	</p>
	<div class="add_payment btn btn-info">Create Payment</div>
</div>
<table class="table">
	<tr>
		<th>#</th>
		<th>Dates</th>
		<th>User</th>
		<th>Function</th>
	</tr>
	<% @payments.each do |payment| %>
	<tr>
		<td>
			<%= payment.id %>
		</td>
		<td>
			<%= payment.start_date %>-<%= payment.end_date %>
		</td>
		<td>
			<%= payment.user.email %>
		</td>
		<td>
			<% if @user == payment.user.email%>
	            <div class="delete-payment">
	            	<a href="#" class="delete-payment-lnk label label-danger" data-payment="<%= payment.id %>">Delete</a>
	            </div>
          <% end %>
		</td>
	</tr>
	<% end %>
</table>
<% if @payments.size == 0 %>
	<em>No payment yet</em>
<% else %>
	<%= paginate @payments %>
<% end %>