<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="label label-info col-md-12">
        <div class="text-left col-md-4">
          <%= @title %>
          <a href="/">Main page</a>
          <a href="/">Payments</a>
        </div>
        <div class="text-center col-md-4"></div>
        <div id="authorization" class="text-right col-md-4">
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            <span id="email">(<%= current_user.email %>)</span>
          <% else %>
              <%= link_to 'Login', new_user_session_path %> или <%= link_to 'Registration', new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </header>
    <div class="col-md-8 col-md-offset-2">
      <%= yield %>
    </div>
  </body>
</html>
